/* Estilo básico do body e layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin-bottom: 70px; /* Espaço para o rodapé fixo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px;
}

/* Barra de busca */
.search-bar {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #CCC;
  padding: 10px 10px 10px 40px;
  background-image: url('/img/search-svgrepo-com.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 22px;
  margin: 5px 0 20px 0px;
}

.search-bar::placeholder {
  color: #888;
}

.search-bar:focus {
  outline: none;
  border-color: #096F8C;
}

/* Títulos e layout das categorias */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.category {
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  margin-bottom: 10px;
}

.category:hover {
  background-color: #CCC;
}

.category.active {
  background-color: #000;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilo da lista de produtos */
.product-list {
  padding: 10px 10px;
}

.product {
  background-color: #096F8C;
  height: 180px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  padding: 0 8px 0 0;
}

.product img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.product-info {
  flex: 1;
}

.product-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.product-info p {
  margin: 10px 0;
  font-size: 14px;
  opacity: 0.8;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

/* Estilo dos controles de quantidade */
.product-controls {
  display: flex;
  justify-content: center;
  width: 130px;
  margin-top: 14px;
  padding: 4px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.product-controls button {
  background-color: #fff;
  color: #000;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 50px;
}

/* Rodapé e ícones */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
}

.footer-icon {
  text-align: center;
  font-size: 12px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer-icon img {
  width: 24px;
  height: 24px;
  display: block;
  margin-top: 5px;
}

.footer-icon span {
  display: block;
  font-size: 16px;
}

/* Ícone ativo no rodapé */
.footer-icon.active {
  color: #096F8C;
}

.footer-icon.active img {
  filter: invert(27%) sepia(84%) saturate(2558%) hue-rotate(185deg) brightness(99%) contrast(107%);
  /* Filtro que transforma o ícone em azul */
}
